<div class="page-content-wrapper">
    <div class="page-content">
        <link href="http://banyakozpont.mestermc.hu/assets/admin/pages/css/error.css" rel="stylesheet" type="text/css"/>
        <div class="row">
            <div class="col-md-9 page-404">
                <div class="number">
                    403
                </div>
                <div class="details">
                    <h3>Hajaj! Úgy tűnik elvesztél..</h3>
                    <p>
                        A keresett oldal nem található<br/>
                        <a href="/">
                            Vissza a kezdőlapra </a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 page-404">
                <img src="http://banyakozpont.mestermc.hu/images/sad_creeper.png">
            </div>

        </div>
    </div>
</div>
